# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [19]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("/Users/tiaranicole/LCGithub/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("/Users/tiaranicole/LCGithub/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/boston_9-24-2016_9-30-2017.csv")
newyork = pd.read_csv('/Users/tiaranicole/LCGithub/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/new-york_9-24-2016_9-30-2017.csv')
philly = pd.read_csv('/Users/tiaranicole/LCGithub/data-analysis-projects/data-manipulation/studio/data-manipulation-studio/dataset/philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [20]:
# Clean your data here!
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [21]:
baltimore = baltimore.drop(columns=["Grade","Mostly Low", "Mostly High"])

In [32]:
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,04/29/2017,270,280.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,05/06/2017,270,280.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,DELAWARE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,VIRGINIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,MARYLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [33]:
philly.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,150,PENNSYLVANIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,150,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,160,PENNSYLVANIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,140,140,NEW JERSEY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [34]:
newyork = newyork.drop(columns=["Grade","Mostly Low", "Mostly High"])

newyork.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,MICHIGAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,MICHIGAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,NEW JERSEY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,NEW JERSEY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,120,140,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [35]:
boston = boston.drop(columns=["Grade","Mostly Low", "Mostly High"])

boston.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,CANADA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,CANADA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,CANADA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,CANADA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,180,CANADA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [38]:
# Combine the four dataframes into one!
NEpumpkins = pd.concat([baltimore, boston, philly, newyork], ignore_index=True)

NEpumpkins.sample(25)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
71,PUMPKINS,BALTIMORE,NaN,1 1/9 bushel cartons,PIE TYPE,NaN,09/24/2016,18,18.0,DELAWARE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
372,PUMPKINS,BOSTON,NaN,36 inch bins,PIE TYPE,NaN,09/24/2016,180,225.0,PENNSYLVANIA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
69,PUMPKINS,BALTIMORE,NaN,24 inch bins,FAIRYTALE,NaN,11/26/2016,210,210.0,VIRGINIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
293,PUMPKINS,BOSTON,NaN,24 inch bins,CINDERELLA,NaN,10/22/2016,260,285.0,MASSACHUSETTS,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
102,PUMPKINS,BALTIMORE,NaN,24 inch bins,BIG MACK TYPE,NaN,10/08/2016,50,60.0,MARYLAND,...,NaN,NaN,EACH,NaN,NaN,NaN,NaN,NaN,N,NaN
80,PUMPKINS,BALTIMORE,NaN,1 1/9 bushel cartons,PIE TYPE,NaN,10/15/2016,17,18.5,PENNSYLVANIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
97,PUMPKINS,BALTIMORE,NaN,24 inch bins,BIG MACK TYPE,NaN,09/24/2016,50,60.0,MARYLAND,...,NaN,NaN,EACH,NaN,NaN,NaN,NaN,NaN,N,NaN
326,PUMPKINS,BOSTON,NaN,1 1/9 bushel crates,PIE TYPE,NaN,11/05/2016,15,16.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
266,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,10/29/2016,140,160.0,PENNSYLVANIA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
164,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,180,225.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
249,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,10/29/2016,160,200.0,CANADA,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
628,PUMPKINS,NEW YORK,NaN,24 inch bins,PIE TYPE,NaN,09/30/2017,140,140.0,PENNSYLVANIA,...,ORANGE,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
589,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,09/16/2017,140,160.0,NEW JERSEY,...,NaN,NaN,PER BIN,NaN,NaN,NaN,NaN,NaN,N,NaN
31,PUMPKINS,BALTIMORE,NaN,24 inch bins,CINDERELLA,NaN,06/17/2017,380,380.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
91,PUMPKINS,BALTIMORE,NaN,1 1/9 bushel cartons,PIE TYPE,NaN,09/30/2017,16,16.0,DELAWARE,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
356,PUMPKINS,BOSTON,NaN,24 inch bins,PIE TYPE,NaN,10/22/2016,150,175.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
287,PUMPKINS,BOSTON,NaN,24 inch bins,CINDERELLA,NaN,10/01/2016,260,285.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
442,PUMPKINS,BOSTON,NaN,24 inch bins,KNUCKLE HEAD,NaN,10/01/2016,260,285.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
440,PUMPKINS,BOSTON,NaN,24 inch bins,BLUE TYPE,NaN,11/05/2016,260,285.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
619,PUMPKINS,NEW YORK,NaN,24 inch bins,PIE TYPE,NaN,09/09/2017,250,250.0,PENNSYLVANIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
661,PUMPKINS,NEW YORK,NaN,1 1/9 bushel crates,MINIATURE,NaN,10/08/2016,18,18.0,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
181,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,10/01/2016,200,225.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
288,PUMPKINS,BOSTON,NaN,24 inch bins,CINDERELLA,NaN,10/01/2016,260,285.0,MASSACHUSETTS,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
267,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,11/05/2016,180,225.0,MASSACHUSETTS,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
35,PUMPKINS,BALTIMORE,NaN,24 inch bins,CINDERELLA,NaN,09/09/2017,180,180.0,MARYLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [43]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
NE_avg_low_price = NEpumpkins["Low Price"].agg("mean")
NE_avg_high_price = NEpumpkins["High Price"].agg("mean")
print(NE_avg_low_price, NE_avg_high_price)

134.18397626112758 150.6713649851632

In [44]:
NEpumpkins["Variety"].value_counts()

Variety
HOWDEN TYPE                 224
PIE TYPE                    198
MINIATURE                    97
BIG MACK TYPE                55
CINDERELLA                   39
FAIRYTALE                    37
KNUCKLE HEAD                  9
BLUE TYPE                     7
MIXED HEIRLOOM VARIETIES      4
HOWDEN WHITE TYPE             2
Name: count, dtype: int64

In [ ]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
NEpumpkins.groupby(["City Name", "Variety"]).head()

#There are no numerical values other than price that I can get the average for. I don't understand how you can get an average pumpkin number without having some type of conversion for the packaging.

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Origin,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,DELAWARE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,VIRGINIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,MARYLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,11/12/2016,90,100.0,MARYLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,PUMPKINS,BALTIMORE,NaN,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,170.0,MARYLAND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,PUMPKINS,NEW YORK,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/24/2016,15,18.0,OHIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
648,PUMPKINS,NEW YORK,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/24/2016,20,20.0,OHIO,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
649,PUMPKINS,NEW YORK,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,10/01/2016,15,18.0,OHIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
650,PUMPKINS,NEW YORK,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,10/01/2016,20,20.0,OHIO,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
651,PUMPKINS,NEW YORK,NaN,1/2 bushel cartons,MINIATURE,FLAT TYPE,10/08/2016,18,18.0,OHIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!