# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
-- return top 100 results
USE BooksDB
SELECT TOP 100 book_id, authors, title AS 'book_title', average_rating
FROM dbo.books
ORDER BY average_rating DESC

--The Complete Calvin and Hobbes

Question 2: Write a query to find the least popular book.

In [ ]:
-- return least popular book
SELECT TOP 1 title, average_rating
FROM dbo.books
ORDER BY average_rating ASC

--One Night at the Call Center

Question 3: Which tag is the most popular?

In [ ]:
-- return most popular tag
SELECT TOP 1 tag_id, 'count'
FROM BooksDB.dbo.book_tags
ORDER BY "count" DESC

--30574

Question 4: What is the name of the most popular tag?

In [ ]:
-- return name of most popular tag
SELECT *
FROM dbo.tags
WHERE tag_id LIKE 30574

--to read

Question 5: How many books where released in the first decade of 2000?

In [ ]:
-- return number of books published in the first decade of 2000
SELECT COUNT(title)
FROM dbo.books
WHERE original_publication_year BETWEEN 2000 AND 2010

--3594

Question 6: How many book titles contain the word, "happy"?

In [ ]:
-- return number of books that contain the word, "happy"
SELECT COUNT(title)
FROM dbo.books
WHERE title LIKE '%happy%';

--13

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
-- return all books from the top 3 authors, sort by author and rating
USE booksDB
SELECT book_id, authors, title, average_rating as 'rating'
FROM books
WHERE authors IN ('Bill Watterson','Brandon Sanderson', 'J.K. Rowling')
order by authors ASC, rating DESC

/*book_id	authors	title	rating
24812	Bill Watterson	The Complete Calvin and Hobbes	4.82
24814	Bill Watterson	It's a Magical World: A Calvin and Hobbes Collection	4.75
70489	Bill Watterson	There's Treasure Everywhere: A Calvin and Hobbes Collection	4.74
59715	Bill Watterson	The Authoritative Calvin and Hobbes: A Calvin and Hobbes Treasury	4.73
24815	Bill Watterson	The Indispensable Calvin and Hobbes	4.73
70487	Bill Watterson	Attack of the Deranged Mutant Killer Monster Snow Goons	4.72
121792	Bill Watterson	The Revenge of the Baby-Sat	4.71
24816	Bill Watterson	Homicidal Psycho Jungle Cat: A Calvin and Hobbes Collection	4.71
24818	Bill Watterson	The Days Are Just Packed: A Calvin and Hobbes Collection	4.68
24494	Bill Watterson	The Calvin and Hobbes Lazy Sunday Book	4.66

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
-- return number of authors whose first name is between rock and roll
SELECT COunt(authors)
FROM dbo.books
WHERE authors BETWEEN 'rock' AND 'roll'

--25

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
--Top 3 books with the shortest titles.
select top 3 title, LEN(title) AS title_length
FROM dbo.books
ORDER BY title_length ASC;

/*
title	title_length
It	2
We	2
Us	2

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
--Top 3 authors with the most books.
SELECT top 3 
    authors,
    Count(title) AS most_books_written
FROM dbo.books
GROUP BY authors
ORDER BY most_books_written DESC;

/*
authors	most_books_written
Stephen King	60
Nora Roberts	59
Dean Koontz	47

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?