# Exercises

To get started with the exercises, go ahead and take a look at RideShareDB. This database was created with data from a dataset on [Kaggle](https://www.kaggle.com/fivethirtyeight/uber-pickups-in-new-york-city). The dataset was made using data obtained from the NYC Taxi and Limosine Commission or TLC. TLC tracks this data by base and even rideshare companies such as Uber and Lyft have assigned bases that each pickup must be attributed to. For the exercises, we will be using the `other_FHV_services_jan_aug_2015` and `lyft` tables in RideShareDB. These tables include the data for each pickup attributed to a few other For-Hire Vehicles (FHV) services and Lyft. These tables do not include any data from Uber.

## String Functions

Write a query that returns the last 3 characters of the base name in <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">. Do you see anything that is a common abbreviation at the end of business names?</span>

In [ ]:
SELECT RIGHT(Base_NAME, 3) AS BASE_NAME_END,
COUNT(*) AS BASE_NAME_COUNT
FROM dbo.other_FHV_services_jan_aug_2015
GROUP BY RIGHT(Base_Name,3);
--NC. IS A COMMON ENDING

The number of trips and the number of pickups are both stored as strings in <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">. This is because the data provided included spaces in some of the numbers. Write a query that returns the location of spaces in both of these columns.</span>

In [ ]:
SELECT CHARINDEX(' ', PICK_UP_DATE) AS PICK_UP_SPACE,
CHARINDEX(' ', Number_of_Trips) AS TRIP_SPACE
FROM dbo.other_FHV_services_jan_aug_2015

## Date Functions

For <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">, display the name of month of the pickup date and order in descending order. Is the result of this query what you expected?</span>

In [ ]:
SELECT DATENAME(MONTH, Pick_Up_Date) AS PICK_UP_MONTH
FROM dbo.other_FHV_services_jan_aug_2015
ORDER BY PICK_UP_MONTH DESC;

Using <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">, write a query that returns the day number of the pickup date and month name and orders it in ascending order by day number.</span>

In [ ]:
SELECT DATENAME(DAY, Pick_Up_Date) AS PICK_UP_DAY,
DATENAME(MONTH, Pick_Up_Date) AS PICK_UP_MONTH
FROM dbo.other_FHV_services_jan_aug_2015
ORDER BY PICK_UP_DAY ASC;

## Aggregate Functions

Write a query that returns the most easterly Lyft pickup.

In [ ]:
SELECT start_lng
FROM dbo.lyft
ORDER BY start_lng DESC

Write a query the returns the most northerly Lyft pickup.

In [ ]:
SELECT START_LAT
FROM dbo.lyft
ORDER BY start_lat ASC

Using <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">other_FHV_services_jan_aug_2015</span><span style="color: var(--vscode-foreground);">, write a query that connects the the base number and the base name in a string that uses the following format: base_number: base_name.</span>

In [ ]:
SELECT CONCAT_WS(':', Base_Number,Base_Name)
FROM DBO.other_FHV_services_jan_aug_2015