# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
SELECT bt.tag_id, tag.tag_name, bks.book_id, bks.title, bks.authors, bks.average_rating
FROM BooksDB.dbo.book_tags AS bt 
INNER JOIN BooksDB.dbo.tags AS tag ON bt.tag_id = tag.tag_id
INNER JOIN BooksDB.dbo.books AS bks ON bt.goodreads_book_id = bks.book_id
WHERE tag_name LIKE '%writer%' OR tag_name LIKE '%female%' OR tag_name LIKE '%woman%'
ORDER BY bks.average_rating DESC

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
SELECT tag.tag_name, bks.book_id, bks.title, bks.authors, bks.average_rating
FROM BooksDB.dbo.book_tags AS bt 
INNER JOIN BooksDB.dbo.tags AS tag ON bt.tag_id = tag.tag_id
INNER JOIN BooksDB.dbo.books AS bks ON bt.goodreads_book_id = bks.book_id
WHERE tag_name LIKE '%spring%' OR tag_name LIKE '%birthday%'
ORDER BY bks.average_rating DESC

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose?
1. What 2 events / promotions are you highlighting?

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
SELECT bt.tag_id, tag.tag_name, bks.book_id, bks.title, bks.authors, bks.average_rating
FROM BooksDB.dbo.book_tags AS bt 
INNER JOIN BooksDB.dbo.tags AS tag ON bt.tag_id = tag.tag_id
INNER JOIN BooksDB.dbo.books AS bks ON bt.goodreads_book_id = bks.book_id
WHERE tag_name LIKE '%love' OR tag_name LIKE '%romance%' OR tag_name LIKE '%cute%'
ORDER BY bks.authors ASC

--Created an event centered around Valentine's Day (February). Therefore I used words like love, romance, or cute (meet-cute) to hightlight the event.

### Summarize Event 1

Double-click to edit.

In [ ]:
SELECT tag.tag_name, bks.book_id, bks.title, bks.authors, bks.average_rating
FROM BooksDB.dbo.book_tags AS bt 
INNER JOIN BooksDB.dbo.tags AS tag ON bt.tag_id = tag.tag_id
INNER JOIN BooksDB.dbo.books AS bks ON bt.goodreads_book_id = bks.book_id
WHERE tag_name LIKE '%President%'
ORDER BY bks.average_rating DESC

--Created an event featuring President's Day (February). I originally used non-fiction and historical but that added a lot of books not associated with presidents.

### Summarize Event 2

Double-click to edit.