# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [ ]:
CREATE TABLE Planned_makes.tiara_hopson.crochet (
    crochet_id INT IDENTITY(1,1) PRIMARY KEY,
    project_name VARCHAR,
    recipient VARCHAR,
    yarn_type VARCHAR,
    hook_no INT,
    );

Add three rows to your table that are your planned makes.

In [ ]:
INSERT INTO Planned_makes.tiara_hopson.crochet (crochet_id, project_name, recipient, yarn_type, hook_no)
VALUES (1, 'Hope Pillow', 'Aunt Diana', 'beige acrylic', 5.5)

INSERT INTO Planned_makes.tiara_hopson.crochet (crochet_id, project_name, recipient, yarn_type, hook_no)
VALUES (2, 'Halter', 'Morgan', 'golden', 5.5)

INSERT INTO Planned_makes.tiara_hopson.crochet (crochet_id, project_name, recipient, yarn_type, hook_no)
VALUES (3, 'Blanket', 'Nicole', 'multicolor - pink, purple, teal, white', 10)

## Update a Row

Change different values in one of your three rows.

In [ ]:
UPDATE Planned_makes.tiara_hopson.crochet
SET yarn_type = 'multicolor - fuscia, purple, teal, yellow, white'
WHERE crochet_id = 1

## Delete a Row

Delete one of the rows from your table.

In [ ]:
DELETE FROM Planned_makes.tiara_hopson.crochet WHERE crochet_id = 2

## Drop the Table

While this has been fun, it is time to drop the table!

In [ ]:
DROP TABLE Planned_makes.tiara_hopson.crochet