# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [ ]:
# import pandas
import pandas as pd
# create your data variabe using .read_csv 
movies = pd.read_csv("IMDB_Movie_Data.csv")
# create your data_indexed variable here
imovies = pd.read_csv("IMDB_Movie_Data.csv", index_col = 'Title')

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.
imovies.sample(25)

In [ ]:
# Read data with specified explicit index
titles = movies.loc[:, "Title"]
#print(data_indexed)
print(titles)

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# Use the head() function to view the first 5 rows of the data set
imovies.head(5)

In [65]:
# Use the tail() function to view the last 5 rows of the data set
imovies.tail(5)

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [ ]:
# The info() function: 

imovies.info()

In [ ]:
# shape:
imovies.shape
# what information does shape provide?  what is the order?
#Using shape tells me this dataframe consists of 1000 rows and 11 columns.

In [ ]:
# columns:
imovies.columns

# what information does columns provide?
#This function displays the column titles of the dataset: Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)','Metascore']

In [62]:
# The describe() function: 
movies.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [ ]:
#  Extract data as series
# define and print the variable 'genre'
genres = imovies['Genre'].value_counts()
print(genres)

In [ ]:
# Extract the data as a dataframe and print it
genres_df = imovies[["Genre"]]
print(genres_df)

In [ ]:
# Extract data using rows

# loc function
movies.loc[30:50]

In [ ]:
# iloc function

movies.iloc[30:51]

### 5. Data Selection - Based on Conditional Filtering

In [68]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
ratings_flop = movies[(movies['Year'] >= 2010) & (movies['Year'] <= 2016) & (movies['Rating'] < 6.0)].sort_values("Revenue (Millions)", ascending=False).head(10)
print(ratings_flop)

     Rank                                      Title  \
941   942                 The Twilight Saga: Eclipse
366   367  The Twilight Saga: Breaking Dawn - Part 2
925   926  The Twilight Saga: Breaking Dawn - Part 1
126   127            Transformers: Age of Extinction
657   658               Teenage Mutant Ninja Turtles
63     64                       Fifty Shades of Grey
575   576                        Clash of the Titans
394   395                                Grown Ups 2
580   581                       Kickboxer: Vengeance
79     80                               Ghostbusters

                        Genre  \
941   Adventure,Drama,Fantasy
366   Adventure,Drama,Fantasy
925   Adventure,Drama,Fantasy
126   Action,Adventure,Sci-Fi
657   Action,Adventure,Comedy
63     Drama,Romance,Thriller
575  Action,Adventure,Fantasy
394                    Comedy
580                    Action
79      Action,Comedy,Fantasy

                                           Description            Director  \
941  As a string of mysterious killings grips Seatt...         David Slade
366  After the birth of Renesmee, the Cullens gathe...         Bill Condon
925  The Quileutes close in on expecting parents Ed...         Bill Condon
126  Autobots must escape sight from a bounty hunte...         Michael Bay
657  When a kingpin threatens New York City, a grou...  Jonathan Liebesman
63   Literature student Anastasia Steele's life cha...  Sam Taylor-Johnson
575  Perseus demigod, son of Zeus, battles the mini...     Louis Leterrier
394  After moving his family back to his hometown t...        Dennis Dugan
580         A kick boxer is out to avenge his brother.      John Stockwell
79   Following a ghost invasion of Manhattan, paran...           Paul Feig

                                                Actors  Year  \
941  Kristen Stewart, Robert Pattinson, Taylor Laut...  2010
366  Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
925  Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
126  Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...  2014
657  Megan Fox, Will Arnett, William Fichtner, Noel...  2014
63   Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...  2015
575  Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...  2010
394  Adam Sandler, Kevin James, Chris Rock, David S...  2013
580  Dave Bautista, Alain Moussi, Gina Carano, Jean...  2016
79   Melissa McCarthy, Kristen Wiig, Kate McKinnon,...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
941                124     4.9  192740              300.52       58.0
366                115     5.5  194329              292.30       52.0
925                117     4.9  190244              281.28       45.0
126                165     5.7  255483              245.43       32.0
657                101     5.9  178527              190.87       31.0
63                 125     4.1  244474              166.15       46.0
575                106     5.8  238206              163.19       39.0
394                101     5.4  114482              133.67       19.0
580                 90     4.9    6809              131.56       37.0
79                 116     5.3  147717              128.34       60.0

In [ ]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?

#I originally put in the code as simple  < or > for the year. But when I added the = sign to my function "The Twilight Saga: Eclipse" was added.